.contenue{
    background-color: rgb(220, 230, 243);
    width: 1000px;
}
.ville-marseille{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.image1{
    width: 1000px;
    height: 500px;
}
.image-titre {
    position: relative;
}
.titre1{
    position:absolute;
    color: white;
    text-align: center;
    bottom: 25px;
    font-size: 80px;
   margin-left: 180px;
}
.introduction{
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    padding: 0 13px 0 13px;
}
.paragraphe1{
    font-size: 20px;
    text-align: justify;
    padding: 0 13px 0 13px;
}
.titre2{
    font-size: 40px;
    text-align: center;
}
.image2{
    text-align: center;
    padding-bottom: -10%;
}
figcaption{
    box-shadow: none;
    font-size: 18px;
    font-style: normal;
    color: #AAAAAA;
    padding-bottom: -10%;
}
.pic1{
    width: 700px;
    height: 400px;
    margin-bottom: 9.5%;
}

