:root{
    --background : rgb(19, 42, 105);
    --texte : white;
}

header {
    background-color: white;
}

body{
    background-color: var(--background);
   
}

.titre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titre h1{
    margin: 30px;
    font-size: 3rem;
    color: var(--texte);
    font-weight: 700;
    text-align: center;
}

.titre img {
    width: 100px;
    aspect-ratio: 1/1;
}

.section_wall {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
}

.wall_box {
    min-width: 600px;
    width: calc(100%/2);
    max-width: 300px;
    flex-grow: 4;
    flex-shrink: 0;
    aspect-ratio: 16/9;
    margin: 30px;
}

.wall_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.4s;
}

.wall_text {
    background-color: white;
    position: absolute;
    inset: 0;
    transition: 0.4s;
    padding: 30px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.wall_text h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.wall_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

.wall_box:hover .wall_inner {
    transform: rotateY(180deg);
}